In [2]:
# 실행 : shift + enter, control + enter
1+1+1+1+1

5

In [3]:
# enter: 편집모드(edit mode), esc(명령모드(command mode))
2+2

4

In [4]:
# 명령모드: a - 현재 셀 위에 셀을 추가. b - 아래에 셀을 추가
#          x (dd) - 셀을 제거. z -  삭제 취소.
#         control + s -  저장

명령모드에서 m => 마크다운 모드(markdown) 모드 => 설명
명령모드에서 y => 마크다운에서 코드작성 모드로 변경

In [5]:
# 대입/할당(assign): 변수명=값
age = 20

In [6]:
print(age)
print(age)
print(age)

20
20
20

# 데이터 타입
값(데이터)의 종류를 분류한 것


## 데이터 타입 종류
- 숫자형
    - 정수형(int, integer)
    - 실수형(float)
- 논리형 (bool, boolean) - 참/거짓
- 문자열 (str, string) - 글자
- None (리터럴값) - "없다"

## 숫자형

In [7]:
age = 30
tall = 175.32

In [8]:
type(age) # age 변수의 데이터타입?

int

In [9]:
type(tall)

float

In [10]:
1 + 10

11

In [13]:
10 - age # 10 - 30 (변수 age의 값)

-20

In [14]:
10 * 20

200

In [15]:
10 ** 2

100

In [16]:
10 ** 5

100000

In [18]:
10 / 3 #나누기

3.3333333333333335

In [19]:
10 // 3

3

In [20]:
10 // 4

2

In [22]:
10 % 3 #나머지 연산 (모듈러스 연산자)

1

## 논리형

In [23]:
b1 =  True
b2 = False

In [24]:
print(b1)
print(b2)

True
False

In [25]:
# 다른 타입의 값을 논리형으로 변환 bool(값)
# FalseL 숫자 -  0, 문자열 - "" (빈문자열-0글자), None
# True: 나머지

In [26]:
bool(10)

True

In [27]:
bool(-10)

True

In [28]:
bool(0)

False

In [29]:
bool("")

False

In [30]:
bool("ab")

True

In [32]:
bool(" ") #1글자 (공백도 글자)

True

In [33]:
bool(None)

False

In [34]:
# int(값) => 정수로 변환. 값: 실수, 논리형

In [36]:
int(True) #True는 정수 1로 변환

1

In [38]:
int(False) #False는 정수 0으로 변환

0

In [41]:
# 비교연산자 -> 결과가 논리형
3 >= 5

False

In [42]:
5 == 5

True

In [44]:
5 != 5

False

In [49]:
num = int(input("입력: "))

입력: 5

In [50]:
num > 5

False

In [52]:
"a" > "b" #사전식 배열, 뒤에 나오는 글자가 더 큰 개념

False

In [53]:
"abc" > "abk"

False

In [54]:
# 논리 연산자: 피연산자/결과가 논리형

In [56]:
True & False

False

In [57]:
True and False

False

In [58]:
True | False

True

In [60]:
False or False

False

In [61]:
3 > 2 and 5 < 3

False

In [64]:
(3 > 2) & (5 < 3) #기호 쓸 때는 피연산자들 괄호로 묶어주기(연산자의 우선순위 관련)

False

In [65]:
True ^ False #xor 연산자.(그러나 ^ 대신 xor 쓰면 안됨)

True

In [66]:
False ^ True

True

In [67]:
True ^ True

False

In [68]:
False ^ False

False

In [69]:
not True

False

In [70]:
not False

True

In [71]:
num

'12424'

In [72]:
not (num == 0)

True

In [73]:
num != 0

True

In [80]:
num = -10

In [81]:
"음수" if num < 0 else "양수" # 조건(num<0)이 True: "음수"를, False: "양수"를 반환

'음수'

## None

값 없음. (=null)

In [82]:
name = None # 이름이 없다; 값을 아직 정하지 못한 경우에도 사용 가능

In [83]:
print(name)

None

In [84]:
name = "홍길동" #재할당

In [85]:
print(name)

홍길동

In [88]:
name = None
name = "홍길동"
bool(name)

True

In [91]:
name if bool(name) else "이름 없음" #이름이 있으면 그 이름 반환, 없으면 "이름 없음 반환"

'홍길동'

In [96]:
name = "" #None과는 다르지만 일단 없긴 함

In [97]:
bool(name)

False

In [98]:
name if bool(name) else "왓더" #bool(name)이 false면 "왓더"가 나옴

'왓더'

## 문자열(String)

In [100]:
name = "홍길동"

In [101]:
name = '홍길동'

In [102]:
txt = "I'm a boy" #글자 안에 작은 따옴표가 있을 때에는 큰 따옴표로 감싸는 게 좋다

In [104]:
txt2 = '길동이가 말했다. "안녕"' #따옴표 종류가 글자 속 따옴표와 겹치지 않도록 하기
print(txt2)

길동이가 말했다. "안녕"

In [113]:
txt = "안녕하세요. \n반갑습니다.\n저는 도라에몽입니다." # \n = 엔터

In [112]:
print(txt)

안녕하세요.
반갑습니다.
저는 도라에몽입니다.

In [116]:
txt2 = """안녕하세요
반갑습니다
저는 도라에몽입니다"""

In [117]:
print(txt2)

안녕하세요
반갑습니다
저는 도라에몽입니다

In [121]:
# 문자열 + 문자열 => 두 문자열을 합친다.
"abc" + "def" # = 'abcdef'

'abcdef'

In [123]:
name = "홍길동" #이름: 홍길동
value = "이름: " + name
print(value)

이름: 홍길동

In [127]:
# str(값) => 값을 문자열로 변환
age = 20 #나이: 20
value = "나이: " + str(age) #20 => "20"
print(value)

나이: 20

In [128]:
str(True) #True => "True"

'True'

In [130]:
str(3.45) #3.45 => "3.45"

'3.45'

In [131]:
3.45 + 10

13.45

In [133]:
"3.45" + "10"

'3.4510'

In [134]:
bool(3.45)

True

In [135]:
int(3.45)

3

In [138]:
float("3.45") + 10 #문자의 형식 통일 필수

13.45

In [139]:
"-" * 30

'------------------------------'

In [140]:
"abc" * 30

'abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc'

In [142]:
print('이름: 홍길동')
print('-' * 30)
print('주소: 서울')  #print를 써줘야 따옴표 없이 글자만 깔끔하게 나옴

이름: 홍길동
------------------------------
주소: 서울

In [143]:
"he" in "hello"

True

In [144]:
"he" not in "hello"

False

In [145]:
"abc" not in "hello"

True

In [147]:
address = "서울시 강남구 서초동"
"서초" in address

True

In [148]:
"종로" in address

False

In [150]:
len(address) #글자수

11

In [155]:
member_id = "dowowddddddddddddmff"
"사용 가능" if len(member_id) > 5 and len(member_id) < 12 else "사용 불가"

'사용 불가'

In [158]:
"안녕하세요. 반갑습니다." # 한 글자 뽑아내고 싶다 = indexing
                          # 여러 글자 뽑아내고 싶다 = slicing

'안녕하세요. 반갑습니다.'

###  문자열 indexing, slicing

In [162]:
value = "안녕하세요. 반갑습니다."
print(len(value))

13

In [163]:
print(value[0])

안

In [165]:
print(value[3]) #0부터 시작하는거 까묵지 말자

세

In [166]:
print(value[-1])

.

In [167]:
print(value[-5])

갑

In [170]:
print(value[12])

.

In [171]:
print(value[-20])

IndexError: string index out of range

In [172]:
value[0] = '가'

TypeError: 'str' object does not support item assignment

In [180]:
value = "안녕하세요. 반갑습니다."
print(value[0:4])  # 0 ~ (4-1) 가져오기

안녕하세

In [181]:
#index가 0부터 시작 : 시작 ~ 끝-1

In [186]:
print(value[0:5:2])

안하요

In [188]:
print(value[:5])  #시작 index 생략 => 0부터 가져온다

안녕하세요

In [190]:
print(value[7:])  #끝 index 생략 => 끝까지 가져온다

반갑습니다.

In [192]:
print(value[3:-2])

세요. 반갑습니

In [195]:
print(value[-1:-13:-1]) #간격(step) 생략: 1이 기본값

.다니습갑반 .요세하녕

### 문자열 포매팅

In [199]:
my_format = "이름: {}, 나이: {}, 주소: {}"
f1 = my_format.format('홍길동', '30', '서울')
print(f1)

이름: 홍길동, 나이: 30, 주소: 서울

In [200]:
f2 = my_format.format('이영희', '25', '인천')
f3 = my_format.format('박영수', '20', '서울')

In [201]:
print(f2)

이름: 이영희, 나이: 25, 주소: 인천

In [202]:
print(f3)

이름: 박영수, 나이: 20, 주소: 서울

In [204]:
my_format2 = "이름: {name}, 나이 : {age}, 주소: {address}"  #좀 더 복잡하지만 순서에 구애받지 않음
f4 = my_format2.format(name="홍길동", age=50, address="부산")
print(f4)

이름: 홍길동, 나이 : 50, 주소: 부산

In [207]:
name = "홍길동"
age = 40
address = "인천"

In [208]:
my_format = "이름: {}, 나이: {}, 주소: {}"
print(my_format.format(name, age, address))

이름: 홍길동, 나이: 40, 주소: 인천

In [213]:
print(f"이름: {name}, 나이: {age}, 주소: {address}")

이름: 홍길동, 나이: 40, 주소: 인천

In [218]:
print("이름 : %s, 나이: %d, 키: %.2f, 주소: %s, %d%%"  % ("홍길동", 20, 165.83, "서울", 50))
# f 앞에 .n 붙여주면 소수 n번째 자리까지만 출력

이름 : 홍길동, 나이: 20, 키: 165.83, 주소: 서울, 50%

In [219]:
# 함수 사용
len("안녕하세요")

5

In [220]:
# 메소드 사용 - format()
my_format.format(1, 2, 3)

'이름: 1, 나이: 2, 주소: 3'

### string 주요 메소드

In [226]:
value1 = "사과,귤,수박,복숭아"
value2 = "사과/귤/수박/복숭아"
result1 = value1.split(",") # ,를 기준으로 value의 문자열을 여러 개로 나눠라
result2 = value2.split("/")

In [227]:
print(result1)
print(result2)

['사과', '귤', '수박', '복숭아']
['사과', '귤', '수박', '복숭아']

In [228]:
value = "파이썬 자바 C 루비"
result = value.split() #구분자의 기본값은 공백
result

['파이썬', '자바', 'C', '루비']

In [231]:
value = "       abc      "
result = value.strip()
print(result)
print(len(result))

abc
3

In [232]:
print(value)
print(len(value))

       abc
16

In [233]:
result = value.lstrip()  #왼쪽 공백만 제거
print(result)
print(len(result))

abc
9

In [234]:
result = value.rstrip()  #오른쪽 공백만 제거
print(result)
print(len(result))

       abc
10

In [239]:
customer_id = input("아이디: ") #input() 문자열을 입력받는 함수

아이디: 빠밤

In [240]:
print(len(customer_id))

2

In [241]:
customer_id = customer_id.strip()
print(len(customer_id))

2

In [244]:
value = "xxx홍길동xxx"
result = value.replace("x","")
print(result)

홍길동