## 리스트
- 순서가 있는 자료구조
-순서: index로 원소들이 관리됨. 추가한 순서대로 저장되어 관리된다.

In [ ]:
# 생성 [v, v, v, v]
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = ['홍길동', '박영희', '이명수']

In [4]:
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['홍길동', '박영희', '이명수']

In [5]:
list3 = [100, 2.5, None, "abc", True, False, 100]
list3

[100, 2.5, None, 'abc', True, False, 100]

In [6]:
A_info = ["홍길동", 20, "서울", 178.6, 70.5, "회사원", False]

In [ ]:
A_info[]

In [7]:
list2[0] #넣은 순서대로 리스트 작성됨

'홍길동'

### indexing/slicing

In [8]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list1[0]

0

In [12]:
list1[-3]

8

In [13]:
list1[0] = 100
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list1[-1] = 300
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [16]:
# 원소의 개수 - len()
len(list1)

11

In [18]:
list1[20] #없는 index 조회 시 에러 발생

IndexError: list index out of range

In [19]:
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [20]:
list1[1:8] #1~7

[1, 2, 3, 4, 5, 6, 7]

In [21]:
list1[:5]

[100, 1, 2, 3, 4]

In [22]:
list1[5:]

[5, 6, 7, 8, 9, 300]

In [24]:
list1[1:8:3]

[1, 4, 7]

In [31]:
list1[-1:1:-1] #시작: 큰idx / 끝: 작은idx / 증감: 음수 => reverse

[300, 9, 8, 7, 6, 5, 4, 3, 2]

In [35]:
list1

[1000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [39]:
list1[0:3] = [100, 200, 300] #slicing으로 원소를 변경할 때는 리스트로 값을 대입해야 함
list1

[100, 200, 300, 3, 4, 5, 6, 7, 8, 9, 300]

In [45]:
list1[0:20]=[0, 0, 0, 0, 0, 0]
list1

[0, 0, 0, 0, 0, 0, 5, 6, 7, 8, 9, 300]

In [73]:
list1[0:6] = [1]
list1
list1[0:1] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
list1[::3] = [10, 20]
list1

ValueError: attempt to assign sequence of size 2 to extended slice of size 4

In [56]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1[:5] = []
list1

[5, 6, 7, 8, 9, 10]

In [59]:
del list1[0]
list1

[6, 7, 8, 9, 10]

In [60]:
# 리스트 안에 리스트(자료구조)를 원소로 추가하기

In [67]:
list4 = [
    [1, 2, 3, 4, 5],
    [10, 20, 30],
    [40, 50, 60]
]

In [64]:
list4[0][1]

2

In [65]:
list4[1][2]

30

In [69]:
list4

[[1, 2, 3, 4, 5], [10, 20, 30], [40, 50, 60]]

In [ ]:
list5 = [
    [
        [1, 2, 3, 4, 5],
        [10, 20, 30],
        [40, 50, 60]
    ]
]   
#중첩 리스트: 가능은 하지만? 추천은 안한다 이말이여

In [77]:
# 리스트 + 리스트 => 두 리스트를 합친 새로운 리스트를 생성
num_list1 = [1, 2, 3]
num_list2 = [10, 20, 30]
result = num_list1 + num_list2
result

[1, 2, 3, 10, 20, 30]

In [80]:
#리스트 * 정수 : 리스트가 가진 원소들을 정수만큼 반복해서 가진 새로운 리스트 생성
result = num_list1 * 3
result
#원래 있던 리스트에는 변화 없음

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
# 리스트 대입
[10, 20, 30]

[10, 20, 30]

In [82]:
v1, v2, v3 = [10, 20, 30]

In [83]:
print(v1, v2, v3)

10 20 30

In [84]:
v1, v2, v3 = 10, 20, 30  #개수 확실히 맞추기

In [86]:
a, b, c = num_list1

In [87]:
print(a, b, c)

1 2 3

In [88]:
# in, not in
c_list = ['서울', '부산', '인천', '광주', '대구']

In [89]:
"서울" in c_list

True

In [90]:
"제주" in c_list

False

In [91]:
"제주" not in c_list

True

In [92]:
"서울" not in c_list

False

### 주요 메소드

In [94]:
c_list.append("울산") # "울산"을 마지막에 추가

In [95]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '울산']

In [96]:
c_list + ['성남', '대전', '구리']

['서울', '부산', '인천', '광주', '대구', '울산', '울산', '성남', '대전', '구리']

In [97]:
c_list.remove("울산")

In [98]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [99]:
c_list.extend(['성남', '대전', '구리'])

In [100]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [104]:
b_list = sorted(c_list) # c_list를 정렬한 새로운 리스트를 반환 / sorted(): 내장함수
b_list

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [103]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [106]:
c_list.sort() #c_list 자체를 바꿔줌

In [107]:
c_list

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [109]:
c_list.sort(reverse=True) # 내림차순
c_list

['인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [110]:
[1, "가"].sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [113]:
c_list.insert(0, "청주") #0번 index에 "청주"를 삽입

In [114]:
c_list

['청주', '인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [115]:
c_list.insert(2, "충주")
c_list

['청주', '인천', '충주', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [116]:
c_list.remove("울산")

In [117]:
c_list

['청주', '인천', '충주', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [125]:
if "뉴욕" in c_list:
    c_list.remove("abc")
else:
    print("뉴욕은 없다.")

뉴욕은 없다.

In [126]:
c_list.append("서울")
c_list

['청주', '인천', '충주', '성남', '서울', '부산', '대전', '대구', '구리', '광주', '서울']

In [127]:
c_list.remove("서울")  #가장 처음 보이는 "서울"만 지움
c_list

['청주', '인천', '충주', '성남', '부산', '대전', '대구', '구리', '광주', '서울']

In [129]:
del c_list[0] #index로 지울 때

In [130]:
c_list

['인천', '충주', '성남', '부산', '대전', '대구', '구리', '광주', '서울']

In [131]:
v = c_list.pop() #
v

'서울'

In [132]:
c_list

['인천', '충주', '성남', '부산', '대전', '대구', '구리', '광주']

In [133]:
c_list.pop()

'광주'

In [134]:
c_list

['인천', '충주', '성남', '부산', '대전', '대구', '구리']

In [135]:
c_list.pop(0)

'인천'

In [136]:
c_list.extend(["서울", "서울", "서울"])
c_list

['충주', '성남', '부산', '대전', '대구', '구리', '서울', '서울', '서울']

In [137]:
len(c_list) #리스트 안의 원소들이 몇개인지 반환

9

In [138]:
c_list.count("서울")

3

In [139]:
c_list.count("뉴욕")

0

In [140]:
c_list.clear()  #모든 원소들을 삭제
c_list

[]

In [141]:
len(c_list)

0

# 튜플(Tuple)

In [142]:
t = (1, 2, 3)
type(t)

tuple

In [143]:
# 튜플 대입
v1, v2, v3 = 1, 2, 3
print(v1, v2, v3)

1 2 3

In [144]:
1,2,3,4

(1, 2, 3, 4)

In [146]:
t3 = (1,)
type(t3)

tuple

In [147]:
t4 = 1,   #뒤에 comma를 붙였기 때문에 튜플이 됨
type(t4)

tuple

In [149]:
l = ['가', '나', '다']
t5 = tuple(l)
t5

('가', '나', '다')

In [150]:
l

['가', '나', '다']

In [152]:
t6 = (10, 20, 30)
l6 = list(t6) #튜플을 리스트로 변환

In [153]:
l6

[10, 20, 30]

In [154]:
t1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [155]:
# 조회: indexing, slicing
t1[0]

0

In [156]:
t1[-1]

9

In [157]:
len(t1)

10

In [158]:
t1[20]

IndexError: tuple index out of range

In [159]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [161]:
t1[1:7] # 1 ~ 6

(1, 2, 3, 4, 5, 6)

In [163]:
t1[::3]

(0, 3, 6, 9)

In [165]:
t1[0] = 10 #튜플은 값을 변경/추가/삭제할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [166]:
# 연산자
1 in t1

True

In [167]:
100 in t1

False

In [168]:
1 not in t1

False

In [169]:
100 not in t1

True

In [171]:
t2 =  100, 200, 300
t2

(100, 200, 300)

In [172]:
t3 = t1 + t2  #두 튜플이 가진 원소들을 합친 새로운 튜플 반환

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300)

In [174]:
t4 = t2 * 5
t4

(100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300)

In [175]:
t4.count(100)

5

In [176]:
t4.index(100)

0

In [178]:
x = 10
y = 100

In [179]:
tmp = y
y = x
x = tmp

In [180]:
x, y

(100, 10)

In [181]:
x, y = y, x
x, y

(10, 100)

## 딕셔너리(Dictionary)
- key-value 쌍으로 값들을 모아서 관리
- key값은 중복 허용하지 않음 (이미 있는 key값으로 추가하면 변경 가능)
- value는 중복 가능

In [198]:
d1 = {"참외":10, "수박":20, "귤":50}
d2 = {"이름":"홍길동", "나이":30, "주소":"서울시 종로구"}

In [185]:
# 조회: indexer []
d1["참외"]

10

In [186]:
d2["이름"], d2["주소"]

('홍길동', '서울시 종로구')

In [219]:
d2["몸무게"] = 80  #없는 키에 값을 대입하면 추가

In [220]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [221]:
d2["이름"] = "이순신"

In [222]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [195]:
"이순신" in d2 # key in dictionary; 딕셔너리 안에 key가 있는가?

False

In [194]:
"이름" in d2

True

### 주요 메소드

In [206]:
num = d1["참외"]
num

KeyError: '참외'

In [207]:
d1

{'수박': 20, '귤': 50}

In [208]:
d1.pop("복숭아")

KeyError: '복숭아'

In [209]:
d1["수박"]

20

In [210]:
del d1['수박']

In [211]:
d1

{'귤': 50}

In [212]:
del d1["복숭아"]

KeyError: '복숭아'

In [223]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [224]:
d2["키"]

KeyError: '키'

In [226]:
d2.get("나이")

30

In [229]:
v = d2.get("키")  # 없는 key로 조회하면 None 반환
print(v)

None

In [230]:
v = d2.get("키", -1)  # 없으면 -1(기본값)을 반환
print(v)

-1

In [231]:
v = d2.get("이름", "이름없음")
v

'이순신'

In [233]:
k = d2.keys() #key값들을 모아서 반환
print(k)

dict_keys(['이름', '나이', '주소', '몸무게'])

In [234]:
v = d2.values() #값들만 모아서 반환
v

dict_values(['이순신', 30, '서울시 종로구', 80])

In [235]:
i = d2.items()
i

dict_items([('이름', '이순신'), ('나이', 30), ('주소', '서울시 종로구'), ('몸무게', 80)])

In [ ]:
# dict() : 딕셔너리를 생성하는 함수
#{key:value, key:value, ...}
# dict(key=value, key=value, key=value, ... )

In [236]:
d3 = dict(귤=10, 사과=20, 수박=50) # key는 변수형태(문자열 아님 따옴표 떼셈)
type(d3)

dict

In [237]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [238]:
d3["귤"]

10

## Set (집합)

In [4]:
s1 = {1, 2, 3}
s1

{1, 2, 3}

In [5]:
s2 = {10, 5, 20, 7}
s2

{5, 7, 10, 20}

In [241]:
s3 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4} #중복 허용 X
s3

{1, 2, 3, 4}

In [242]:
s3[0]

TypeError: 'set' object is not subscriptable

In [243]:
for v in s3:
    print(v)

1
2
3
4

In [244]:
l = [1, 1, 2, 2, 3, 3, 3]
l

[1, 1, 2, 2, 3, 3, 3]

In [245]:
s4 = set(l)
s4

{1, 2, 3}

In [246]:
l2 = list(s4)
l2

[1, 2, 3]

In [ ]:
# list(), tuple(), set() : 다른 자료구조를 자신의 타입으로 변환

In [247]:
set((2, 2, 2, 3, 3))

{2, 3}

In [248]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [249]:
set(d3)

{'귤', '사과', '수박'}

In [2]:
s3 = {1, 2, 3, 4}

In [3]:
s1 = {1, 2, 3}

In [7]:
# 값을 추가
s1.add(10)
s1

{1, 2, 3, 10}

In [8]:
s1.add(-10)
s1

{-10, 1, 2, 3, 10}

In [9]:
s1.add(10)
s1

{-10, 1, 2, 3, 10}

In [10]:
l = [100, 200, 300, 100, 10, 10]

In [14]:
s1.update(l) #한번에 여러 개의 값들을 추가 .update(자료구조)
s1

{-10, 1, 2, 3, 10, 100, 200, 300}

In [15]:
s1.remove(100)
s1

{-10, 1, 2, 3, 10, 200, 300}

In [18]:
if 10000 in s1:
    s1.remove(10000) #없는 값 삭제 -> KeyError

In [19]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [21]:
# 합집합
s3 = s1 | s2
s3

{1, 2, 3, 4, 5}

In [23]:
s4 = s1.union(s2)
s4

{1, 2, 3, 4, 5}

In [24]:
# 교집합
s5 = s1 & s2
s5

{3}

In [26]:
s6 = s1.intersection(s2)
s6

{3}

In [27]:
# 차집합 - 순서 중요
s7 = s1 - s2
s7

{1, 2}

In [28]:
s2 - s1

{4, 5}

In [31]:
s8 = s1.difference(s2)
s8

{1, 2}

### 자료구조 변환함수
- list(타입을 변경할 자료구조): 리스트로 변환
- tuple(타입을 변경할 자료구조): 튜플로 변환
- set(타입을 변경할 자료구조): 세트로 변환
- 변경할 자료구조가 딕셔너리인 경우 "key값"을 원소로 가진다.
- 딕셔너리로 변환하는 함수는 없다

In [32]:
list({1, 2, 3, 4})

[1, 2, 3, 4]

In [33]:
tuple([1, 2, 3, 4, 5])

(1, 2, 3, 4, 5)

In [34]:
tuple({"a":1, "b":2})

('a', 'b')

In [35]:
set([1, 1, 2, 3, 4])

{1, 2, 3, 4}

In [36]:
dict(name="mya", age=17)

{'name': 'mya', 'age': 17}

In [37]:
sorted(l)

[10, 10, 100, 100, 200, 300]

In [38]:
l.sort()

In [39]:
l

[10, 10, 100, 100, 200, 300]

In [41]:
# 자료구조, 값 자체가 변하면 출력이 안됨 출력 따로 해야함
# 새로운 자료를 만들어내는 거면 출력 됨

In [47]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)

In [98]:
#(1)  7번의 점수를 출력하세요
print(jumsu[6])

80

In [97]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[0:5])

[100, 90, 100, 80, 70]

In [99]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.  #출력이니까 print() 붙여주는 것 같음
print(jumsu[3:7])

[80, 70, 100, 80]

In [100]:
#(4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [101]:
#(5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

[100, 100, 70, 80, 20]

In [103]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu[::])

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [104]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
print(set(jumsu))

{100, 70, 80, 20, 85, 90}

In [96]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits = ["복숭아", "수박", "딸기"]
fruits.append("사과")
fruits.append("귤")
fruits

# 혹은 fruits.extend(["사과", "귤"])

['복숭아', '수박', '딸기', '사과', '귤']

In [125]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..

d1 = dict(
    이름="권진영",
    나이="27",
    email_주소="ewqwerew@naver.com",
    취미=["음악 듣기", "유튜브 보기"],
    결혼유무="미혼"
)
d1

{'이름': '권진영',
 '나이': '27',
 'email_주소': 'ewqwerew@naver.com',
 '취미': ['음악 듣기', '유튜브 보기'],
 '결혼유무': '미혼'}

In [131]:
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(d1["이름"], d1["email_주소"])

SyntaxError: invalid syntax (<ipython-input-131-6a889d086c9d>, line 4)

In [135]:
#f"이름: {d1["이름]"]}, 이메일: {d1["email_주소"]}"

In [134]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
d1["취미"][1]

'유튜브 보기'

In [140]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
d1["몸무게"] = "엇저구"
d1["키"] = "저쩌구"
d1

{'이름': '권진영',
 '나이': '27',
 'email_주소': 'ewqwerew@naver.com',
 '취미': ['음악 듣기', '유튜브 보기'],
 '결혼유무': '미혼',
 '몸무게': '엇저구',
 '키': '저쩌구'}

In [141]:
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [145]:
f1 = fruits.extend(["사과","귤"])
print(f1)
fruits
#함수를 새로 설정하면 결과가 없기 때문에 None 나옴(객체지향이라서 그런가)

None

['복숭아', '수박', '딸기', '사과', '귤', '사과', '귤', '사과', '귤', '사과', '귤', '사과', '귤']