In [1]:
bool(1) # 자료구조: 원소가 0개이면 False, 1개 이상이면 True

True

In [6]:
num = 0 # 만약 num = 0이면 "0입니다." 라고 출력, 아니면 출력 안 함
if num==0:
    print("0입니다.")
    print("영입니다.")
    print("없습니다.")
    
print("종료")

0입니다.
영입니다.
없습니다.
종료

In [8]:
num = 0
# if 조건: -조건: bool 타입이 들어와야 하는 곳.
# 다른 타입의 값이 들어오면 bool로 알아서 변환(bool 변환했을 때 False 되는 값 기억!)

if not num:
    print("0입니다.")
    print("영입니다.")
    print("없습니다.")
    
print("종료")

0입니다.
영입니다.
없습니다.
종료

In [24]:
num = 0
# 만약 num이 0이면 "0입니다." 출력, 아니면 "0이 아닙니다." 출력

In [25]:
if num==0:
    print("0입니다.")
    print("'Tis zero.")
else:
    print("0이 아닙니다.")
    print("값: ", num)
print("종료")

0입니다.
'Tis zero.
종료

In [31]:
num = 0 # num이 0보다 크면 "양수" 출력, 0이면 "0" 출력, 0보다 작으면 "음수" 출력
if num > 0:
    print("양수")
elif num == 0:
    print("0")
elif num < 0:   # 이 줄은 elif 대신 else를 써도 무방
    print("음수")

0

In [55]:
#"서울": 특별시, 인천, 부산, 대구 , 광주, 대전, 울산: 광역시
city = input("도시명: ")
city = city.strip()

도시명: 부산

In [56]:
if city == "서울":
    print(f"{city}특별시")
elif city in ["인천", "부산", "광주", "대구", "대전", "울산"]:
    print(f"{city}광역시")
else:
    print(f"{city}는 일반시")

부산광역시

# 반복문
- while 문
    - 조건이 True인 동안 반복
- for in 문
    -문자열, 자료구조(리스트, 튜플, 세트, 딕셔너리)의 원소들을 하나씩 모두 조회할 때 사용 (Iterable 타입)

## while 문

- 대입연산자
    - 변수 = 값
    - 변수 연산자 =  값 :: 변수 = 변수 연산자 값
        - a += 10 :: a = a + 10
        - a -= 10 :: a = a - 10
        - a *= 10 :: a = a * 10

In [57]:
cnt = 0  # 초기식 - 조건에서 사용되면서 조건을 False로 바꿀 때 사용할 값.
while cnt <10:
    print(cnt)
#    cnt = cnt + 1 # 증감식
    cnt += 1 # cnt = cnt + 1
print("종료")

0
1
2
3
4
5
6
7
8
9
종료

In [59]:
# 1 ~ 100 중에서 5의 배수만 출력하고 싶다 (cnt가 5의 배수이면 출력해)
cnt = 1
while cnt <= 100:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [62]:
cnt = 1
flag = True
while flag:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1
    if cnt > 100:
        flag = False

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## for in 문
```python
for 변수 in iterable:
    반복할 구문
```

In [67]:
fruits = ["사과", "복숭아", "귤", "수박", "배", "자두"]

index = 0 # 리스트의 index
length = len(fruits)

while index < length:
    fruit = fruits[index]
    print(fruit)
    index += 1

사과
복숭아
귤
수박
배
자두

In [69]:
for fruit in fruits:
    print(fruit)

사과
복숭아
귤
수박
배
자두

In [70]:
for num in (1, 2, 3, 4, 5):
    print(num)

1
2
3
4
5

In [73]:
for num in {10, 20, 30, 1}:
    print(num)
# set 이기 때문에 1이 뒤에 있어도 제일 먼저 옴(자동 순서 정리)

1
10
20
30

In [2]:
d = {
    "a" : 10,
    "b" : 20,
    "c" : 30
}
for key in d:
    print(key)

a
b
c

In [2]:
for key in d:
    print(d[key])
    
for key in d:
    print(d[key])

10
20
30
10
20
30

In [3]:
d.values(), d.keys(), d.items()

(dict_values([10, 20, 30]),
 dict_keys(['a', 'b', 'c']),
 dict_items([('a', 10), ('b', 20), ('c', 30)]))

In [4]:
for v in d.values():
    print(v)

10
20
30

In [5]:
for v in d.keys():
    print(v)

a
b
c

In [6]:
for v in d.items():
    print(v)

('a', 10)
('b', 20)
('c', 30)

In [7]:
print(v)

('c', 30)

In [3]:
# key가 "b"인 item의 value를 출력
for v in d.items(): # (key, value)
    if v[0] == "b":
        print(v[1])

20

In [19]:
for v in d.items():
    if print(v[0]) == "b":
        print(v[1])

a
b
c

In [4]:
print(v[0])

c

In [91]:
for key, value in d.items():
    if key == "b":
            print(value)

20

In [96]:
lst = [
    [1, 2, 3],
    [10, 20, 30],
    [100, 200, 300, 400]
]

In [94]:
for v1, v2, v3 in lst:
    print(v1, v2, v3, sep="-")
    
# 원소 개수가 같아야 for 다음 대입 가능

1-2-3
10-20-30
100-200-300

In [99]:
for l in lst:
    for v in l:
        print(v)

1
2
3
10
20
30
100
200
300
400

In [100]:
for l in lst:
    print(l)

[1, 2, 3]
[10, 20, 30]
[100, 200, 300, 400]

In [20]:
for s in "abcdef가나다라":
    print(s)
    
for r in "abracadabra":
    print(r)

a
b
c
d
e
f
가
나
다
라
a
b
r
a
c
a
d
a
b
r
a

In [103]:
for s in "abcdef가나다라":
    print(s, end=" ")
    
# print() 마지막에 end=엇저구 를 적어넣으면 엔터 대신 엇저구가 나오게 됨
# 기호를 찍고 싶다면 sep="(기호)"

a b c d e f 가 나 다 라

In [22]:
d1 = {"참외":10, "수박":20, "귤":50}
d2 = {"이름":"홍길동", "나이":30, "주소":"서울시 종로구"}

In [26]:
print(d1.items())
print(d2.items())

dict_items([('참외', 10), ('수박', 20), ('귤', 50)])
dict_items([('이름', '홍길동'), ('나이', 30), ('주소', '서울시 종로구')])

In [27]:
for f in d1.items():
    if print(f[0]) == "참외":
        print(f[1])

참외
수박
귤

In [30]:
print(f)

('귤', 50)

In [107]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [110]:
for v in d.items:
    print (v[0])

TypeError: 'builtin_function_or_method' object is not iterable

In [118]:
cnt = 1
while True:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1
    if cnt > 100:
        break # 반복문 끝내기

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [119]:
while True:
    print(1)
    break

1

In [120]:
cnt = 1
while cnt <= 100:
    if cnt % 5 != 0: # 5의 배수가 아니라면
        cnt += 1
        continue
    print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [121]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i % 3 != 0:
        continue
    print(i)
    
# continue를 만나면, 조건 충족 안 했을 때 다시 처음부터 다음 반복 시도하러 감

3
6
9

In [122]:
?d.items

In [123]:
d = {"이름":"야륑", "나이": "열일곱쨜", "몸무게":"일급비밀", "키":"꽤큰편"}

In [125]:
for v in d.items():
    if print(v[0]) == "b"

SyntaxError: invalid syntax (<ipython-input-125-f45426db4975>, line 2)

##  for in 문 관련 내장함수
- range()
- enumerate()
- zip()

### range([시작정수],  종료정수, [증감정수]) - [] 생략 가능

In [7]:
# range(1, 10, 2) # 1 ~ 10-1, 2씩 증가. 1, 3, 5, 7, 9
for i in range(1, 10, 2):
    print(i, end=" ")
#    break

1 3 5 7 9

In [8]:
lst = range(1, 11)  # 1 ~ 11-1, 1씩 증가 = 증감치 생략
# range 함수 자체는 함수이지 리스트는 아님

In [ ]:
# list(), tuple(), set() =  iterrable 타입의 객체를 list, tuple, set으로 변환

In [10]:
lst = list(range(1, 11))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
tu = tuple(range(10))  # range(30): 종료정수, 0 ~ 9, 1씩 증가
tu

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [17]:
# 증감치가 음수일 경우, 시작값 > 종료값
list(range(10, -10, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [29]:
# 안녕 10번 반복 사용
# 변수를 "_" : 반복문 내에서 사용하지 않겠다.
for _ in range(10): # 0 ~ 9 :  10번
    print("안녕")

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

### enumerate(iterable [ , start=시작값]) []: 생략 가능

In [31]:
str_list = ['가', '나', '다', '라', '마']
for s in enumerate(str_list):
    print(s)

(0, '가')
(1, '나')
(2, '다')
(3, '라')
(4, '마')

In [35]:
#인덱스 사용 가능, 딕셔너리화도 가능
for idx, s in enumerate(str_list):
    if idx == 3:
        print(idx, s)

3 라

In [38]:
for idx, s in enumerate(str_list, start=1):
    print(idx, s)

1 가
2 나
3 다
4 라
5 마

### zip(iterable, iterable [ , ....])

In [54]:
a = [1, 2, 3]
b = [10, 20, 30]
c = 100, 200, 300, 400, 500
d = {"가", "나", "다"}

In [55]:
for v in zip(a, b, c, d):
    print(v)

(1, 10, 100, '나')
(2, 20, 200, '다')
(3, 30, 300, '가')

In [56]:
names = ["Kim", "John", "Sam"]
ages = [20, 30, 40]
height = [170, 180, 190]

In [57]:
for info in zip(names, ages, height):
    print(info)

('Kim', 20, 170)
('John', 30, 180)
('Sam', 40, 190)

In [58]:
for name, age, tall in zip(names, ages, height):
    print(name, age, tall)

Kim 20 170
John 30 180
Sam 40 190

## 컴프리헨션(Comprehension)

In [75]:
lst = [1, 2, 3, 4, 5, 6]
# lst의 원소들에 10을 더한 값들을 원소는 갖는 리스트 만들고 싶다

In [76]:
lst2 = []
for num in lst:
    lst2.append(num+10)

In [77]:
lst2

[11, 12, 13, 14, 15, 16]

In [83]:
result = [num+10 for num in lst]  # 리스트 컴프리헨션
result

[11, 12, 13, 14, 15, 16]

In [87]:
result2 = {num+10 for num in lst}  # {값, 값, ... }  # set 컴프리헨션
result2, type(result2)

({11, 12, 13, 14, 15, 16}, set)

In [91]:
result2 = {num:'apple' for num in lst}  #{k:v, k:v, ... }  # 딕셔너리 컴프
result2, type(result2)

({1: 'apple', 2: 'apple', 3: 'apple', 4: 'apple', 5: 'apple', 6: 'apple'},
 dict)

In [105]:
result3 = {idx+1: num for idx, num in enumerate(lst2)}
result3

#enumerate으로 인해 값이 두개가 나오는데 그걸 딕셔너리화 해서 for in 문에 넣음

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16}

In [106]:
num_list = list(range(100))

In [109]:
# num_list의 원소들 중에 10의 배수만 가지는 리스트 만들 것이다
result = []
for num in num_list:
    if num %10 == 0:
        result.append(num)
#        print(num, end=" ") 이건 출력, append는 새로운 result 생성

In [110]:
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [112]:
result2 = [num for num in num_list if num%10==0]
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# [변수 for 변수 in iterable [for in 또는 if문]*(무한정)]

# TODO

In [170]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

a = input("점수를 입력하세요: ")
score = int(a)
if (score >= 91) and (score <= 100):
    print("A학점")
elif (score >= 81) and (score <= 90):
    print("B학점")
elif (score >= 71) and (score <= 80):
    print("C학점")
elif (score >= 61) and (score <= 70):
    print("D학점")
elif score <= 60:
    print("F학점")

else:
    print("올바르지 않은 입력값입니다.")

점수를 입력하세요: 6523
올바르지 않은 입력값입니다.

In [172]:
a = input("점수를 입력하세요: ")
score = int(a)
if score<0 or score>100:
    print("올바르지 않은 입력값입니다.")
elif (score >= 91) and (score <= 100):
    print("A학점")
elif (score >= 81):
    print("B학점")
elif (score >= 71):
    print("C학점")
elif (score >= 61):
    print("D학점")
elif score <= 60:
    print("F학점")

else:
    print("올바르지 않은 입력값입니다.")

#elif에 이미 상위값은 포함 안 된다고 판정났기 때문에 굳이 "뭣보다 작다"는
#안 써도 됨

점수를 입력하세요: 5555
올바르지 않은 입력값입니다.

In [177]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

#avg = sum(jumsu) / len(jumsu)
#avg

avg = None
sum_value = 0

for num in jumsu:
    sum_value = sum_value + num
    
    
print(sum_value) 
avg = sum_value / len(jumsu)
print("평균: ", avg)

890
평균:  89.0

In [186]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
		
    
for num, pf in enumerate(jumsu):
#    if pf >= avg:
#        print(num, "pass", sep="-")
#    else:
#        print(num, "fail", sep="-")

    if pf >= avg:
        print(f"{num}-pass")
    else:
        print(f"{num}-fail")

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [193]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max_value = 0
for num in jumsu:
    if num > max_value:
        max_value = num

print("최댓값:", max_value)

최댓값: 95

In [198]:
# 내장함수
print(max(jumsu))
print(min(jumsu))
print(sum(jumsu))

95
55
785

In [199]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]

#str_list.remove("정")
#str_list

#str_list[0:3]

for s in str_list:
    if s != "정":
        print(s)

갑
을
병

In [201]:
for s in str_list:
    if s == "정":
        continue
    print(s)

갑
을
병

In [212]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

dan = input("단을 입력하시오.: ")  #문자열
dan = int(dan)
for num in range(1, 10):
#       print(f"{dan} X {num} = {dan*num}")
#    print("{} x {} = {}".format(dan, num, dan*num))
    print("%d x %d = %d" % (dan, num, dan*num))

단을 입력하시오.: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

In [218]:
# 구구단표
for num in range(1,10):  # 숫자 * num
    for dan in range(2,10):
        print("{} x {} = {}".format(dan,num, dan*num), end="\t") #\t: tab
    print()  # print() 안 쪽에 아무것도 안 쓰면 엔터

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [152]:
flag = True

while flag:
    get = int(input("정수를 입력:"))
    if get <= 0:
        continue
    else:
        print("-----------구구단-----------")
        for i in range(10):
            print(f"{get} x {i} = {get*i}")
        break

정수를 입력:5
-----------구구단-----------
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [220]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

result = [out*2 for out in lst]  #mapping
result

[20, 60, 140, 10, 240, 1400, 2, 70]

In [221]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

new_lst = []
inst = ()
for idx, n in enumerate(lst):
    inst = (n, n*10)
    new_lst.append(inst)
print(new_lst)

result = [(num, num*10) for num in lst]
result

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [223]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

result = [out for out in lst2 if out % 3 == 0]  #filtering
result

[3, 33, 21, 33, 60, 120]

In [157]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

lst = []
[file for file in file_name if file.endswith("exe")]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [158]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]


[file for file in file_name if len(file)>10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [231]:
import random
num = random.randint(1,100)
print(num)

78

In [294]:

import random
num = random.randint(1,100)
#print("예측할 숫자: ", num)
Try = 1

max_Try = 5 #최대 시도 횟수를 5로 하고 싶다

while True:
    print(Try, "회차")
    input_num = int(input("1과 100 사이의 숫자를 입력해주세요.: "))
    if (input_num >= 100) or input_num < 1:
        print("잘못된 입력값입니다.")
        print("*"*50)
        Try += 1
        if Try == 6:
            print("최대 입력 가능 횟수인 5회를 초과하셨습니다ㅠ \n게임을 종료합니다.")
            break
        continue      
    elif input_num == num:
        print("정답입니다!")
        print(Try, "회차에 성공하셨습니다!")
        break
    elif input_num > num:
        print("더 작은 숫자를 입력해주세요.")     
    elif input_num < num:
        print("더 큰 숫자를 입력해주세요.")
 
    if max_Try == Try:
        print("="*50)
        print("최대 입력 가능 횟수인 5회를 초과하셨습니다ㅠ 게임을 종료합니다.")
        print("="*50)
        break
    
    Try += 1
    print("*"*50)

예측할 숫자:  7
1 회차
1과 100 사이의 숫자를 입력해주세요.: 5555
잘못된 입력값입니다.
**************************************************
2 회차
1과 100 사이의 숫자를 입력해주세요.: 55555
잘못된 입력값입니다.
**************************************************
3 회차
1과 100 사이의 숫자를 입력해주세요.: 55555
잘못된 입력값입니다.
**************************************************
4 회차
1과 100 사이의 숫자를 입력해주세요.: 5555
잘못된 입력값입니다.
**************************************************
5 회차
1과 100 사이의 숫자를 입력해주세요.: 7
정답입니다!
5 회차에 성공하셨습니다!

SyntaxError: invalid syntax (<ipython-input-253-9de8a68aac90>, line 13)